img{
    border: 1px solid grey;
    border-radius: 160px;
    width: 15%;
    padding: 2%;
}
h1{
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: black;
    text-align: center;
}
body{
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: white;
    text-align: center;
}
ul{
    list-style-type: square;
    margin-left: 33%;
    border: 1pt dotted grey;
    width: 30%;
    margin-right: auto;
}